{% extends "base.html" %}

{% block title %}{{ article.title }} - سامانه علمی{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <article class="blog-post">
            <h2 class="blog-post-title mb-1">{{ article.title }}</h2>
            <p class="blog-post-meta">{{ article.created_at.strftime('%Y-%m-%d') }} by <a href="#">{{ article.owner.username }}</a></p>

            {% if article.image_url %}
            <img src="{{ article.image_url }}" class="img-fluid rounded my-3" alt="{{ article.title }}">
            {% endif %}

            <p>{{ article.content }}</p>
        </article>
        <a href="/articles" class="btn btn-secondary mt-3">بازگشت به لیست مقالات</a>
    </div>
</div>
{% endblock %}
